<% include partials/header %>
<link rel="stylesheet" type="text/css" href="public/styles/index.css">
    <div class="content">
        <div class="container">
            <div class="profile mdc-elevation--z4">
                <div class="details">
                    <img class="photo" src="/public/src/alex.jpg">
                    <h1 class="name">Alex Stroescu</h1>
                </div>
                <div class="description">
                    <span>Text random nu stiu ce sa scriu</span>
                </div>
                <div class="buttons">
                    <button class="mdc-button mdc-button--unelevated">
                        <span class="mdc-button__label">Follow</span>
                    </button>
                    <button class="mdc-button mdc-button--outlined">
                        <span class="mdc-button__label">Message</span>
                    </button>
                </div>
                <div class="informations">
                    <div class="followers">
                        <h1>100</h1>
                        <span>Followers</span>
                    </div>
                    <hr>
                    <div class="messages">
                        <h1>2</h1>
                        <span>Messages</span>
                    </div>
                    <hr>
                    <div class="messages">
                        <h1>0</h1>
                        <span>Following</span>
                    </div>
                </div>
                <form action="#" class="comment-form">
                    <textarea placeholder="Add an anonymous comment" name="" id="" cols="30" rows="10"></textarea>
                    <button class="mdc-button mdc-button--unelevated">Submit</button>
                </form>
            </div>
            <div class="comments-title">
                <span>Comments</span>
            </div>
            <div class="comments mdc-elevation--z4">
                <img class="comment-photo" src="public/src/default.png">
                <span class="comment-title">Anonymous</span>
                <span class="comment-text">Cel mai tare profil</span>
            </div>
        </div>    
    </div>
</body>